<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Passwords</title>
</head>
<body>
<h1>Passwords</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Password</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="password : ${passwords}">
    <td th:text="${password.id}"></td>
    <td th:text="${password.username}"></td>
    <td th:text="${password.password}"></td>
    <td>
      <a th:href="@{/passwords/{id}/edit(id=${password.id})}">Edit</a>
      <form th:action="@{/passwords/{id}/delete(id=${password.id})}" method="post">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a href="/passwords/new">Create new password</a>
</body>
</html>